* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: @htmlBG;
}

html,
body {
  font-family: @textFont;
}


h1,
h2,
h3,
h4,
h5 {
  font-family: @headingFont;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
}

h2 {
  font-size: 2.8rem;
  padding-bottom: 10px;
}

h3 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}

p, li {
  line-height: 1.5;
  font-size: 1.5rem;
  padding-bottom: 10px;
}
ul {
  padding: 0 1.5rem;
}

    a:link,
    a:visited {
      text-decoration: none;
      font-size: 1.8rem;
      color: @contentText;
    } //  closes <a> style

img {
  max-width: 100%;
  height: auto;
}
