// Header Styles in this file

header {
  background-color: @headerBG;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: @headerColor;
    padding: 2%;
  } // closes header text styles
  nav {
    height: 5rem;
    overflow: hidden;

    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1440px;
    background-color: fade(@headerBG, 75%);
    z-index: 55;
    .rowFlex();

    a:link,
    a:visited {
      color: @headerColor;
      font-size: 2rem;
      padding: 1.5rem;
      width: 25%;
      text-align: center;
      &:hover {
        background-color: @buttonBG;
        color: @buttonColor;
      }
    } //  closes <a> style
    @media @mobile {
      position: static;
      height: 6.5rem;
      border-bottom: 1px solid @headerColor;
      #wlLink,
      #mtLink,
      #contact {
        display: none;
      }
    } // closes mobile media
  } // closes <nav> style
  img {
    width: 100%;
    height: auto;
    margin-top: 5rem;
    z-index: -1;
    @media @mobile {
      display: none;
    } // closes mobile media
  } // closes img style

  .teamContactHeader {
    padding: 2%;
  }

  .ctaContainer {
    position: relative;
    // text-align: center;
  } // closes .ctaContainer

  .bottomLeft {
    position: absolute;
    bottom: 15%;
    left: 25%;
    padding: 2%;
    background-color: fade(@headerBG, 75%);
    @media @mobile {
      position: static;
      width: 100%;
      padding: 2%;
    } // closes mobile media
  } // closes .bottomLeft
  .ctaButton {
    .button(@width:25%);
    &:hover {
      border: 2px solid @buttonColor;
    }
    a:link,
    a:visited {
      text-decoration: none;
      //   background-color: @headerBG;
      color: @headerColor;
      font-size: 2rem;
      width: 100%;
    }
    @media @mobile {
      .button(@width:40%);
    }
  } // closes cta button
} // closes <header> style

.teamContactCTA {
  padding: 2%;
}
