.mainContent {
  max-width: @desktop;
  margin: 0 auto;
  padding: 4%;
  background-color: @contentBG;

  h1,
  h2,
  h3,
  h4,
  p,
  li {
    color: @contentText;
  } // closes the h's
  ul,
  li {
    margin-left: 2%;
  }
  .colFlex(@justify:space-around);
} // closes mainContent

.flexContainer {
  .rowFlex(@justify:space-around, @align:stretch);
  width: 100%;

  @media @tablet {
    .colFlex();
  } //closes tablet media
} // closes .flexContainer
.flexContainerLower {
  .rowFlex(@justify:space-around, @align:center);
  flex-wrap: wrap;
  width: 100%;

  @media @tablet {
    .colFlex();
  } //closes tablet media
} // closes .flexContainer
.container {
  background-color: @containerBG;

  h1,
  h2,
  h3,
  h4 {
    color: @containerHeading;
    margin-top: 2%;
  }
  width: 45%;
  // min-height: 565px;
  padding: 2%;
  margin: 2%;

  @media @tablet {
    width: 100%;
    min-height: 300px;
  } // closes tablet media

  @media @mobile {
    width: 100%;
    min-height: 300px;
  }
} // closes .container
#features {
  width: 80%;
  padding: 2% 15%;
  @media @tablet {
    width: 100%;
  }
}
.screenshot {
  padding: 1% 0;
}
#topLeft {
  @media (min-width: 800px) {
    &:hover {
      border: 1px solid @contentText;
      transition: transform 0.5s;
      transform: scale(2) translate(100px, 0px);
    }
  }
}
#topRight {
  @media (min-width: 800px) {
    &:hover {
      border: 1px solid @contentText;
      transition: transform 0.5s;
      transform: scale(2) translate(-100px, 0px);
    }
  }
}
#bottom {
  @media (min-width: 800px) {
    &:hover {
      border: 1px solid @contentText;
      transition: transform 0.5s;
      transform: scale(2) translate(0px, -100px);
    }
  }
}
