.mainContent {
    // width: 95%;
    max-width: @desktop;
    margin: 0 auto;
    padding: 4%;
    background-color: @contentBG;

    h1, h2, h3, h4, p {
        color:  @contentText;
    }
}
.flexContainer {
    .rowFlex();
    width: 100%;
}
.container {
    background-color: @containerBG;

    h1, h2, h3, h4 {
        color: @containerHeading
    }
    width: 40%;
    padding: 0 2%;
}


